<div id='dynamicdns'>
<h3>Setting up Dynamic DNS</h3>
<hr style='width:220px' align="left">
<p><time datetime="2018-04-23 18:00"></time>With Comcast internet we get a "Dynamic IP", I've noticed since I started the service it has never changed(in over a year and a half). Today after some service done in my area, I could no longer reach home remotely as the IP had changed. The best solution is a free CloudFlare account in conjunction with DDClient, using a dynamic DNS service(duckdns) as a backup. I am also setting up a script to check if the IP changes and send out a notification when/if it does. For this I use Pushover, which has an easy interface and a great Android/iPhone app.</p>
<h3>DDClient</h3>
<p>DDClient is part of epel for CentOS/Fedora, so that must first be installed, then you only need:
<pre><code>yum install ddclient -y</pre></code>
<p>and then update the sample conf:
<pre><code>/etc/ddclient.conf:
[root@hme-www-01 ~]# grep -v '#' /etc/ddclient.conf	#all lines with no comment
 ssl=yes
use=cmd, cmd='/bin/curl https://ipv4.icanhazip.com'
 protocol=cloudflare,                           \
 server=www.cloudflare.com,                     \
 login=email@domain.com
 password=password \
 zone=hilgendorf.me
 hilgendorf.me
</pre></code>
<p>After this, you want to enable and start the service. By default it will sleep for 300 seconds before checking and updating.</p>
