<div id='managingvms'>
<h3>Managing VMs and Installs</h3>
<hr style='width:220px' align="left">
<p>I want to further automate VM and hypervisor setups. I do my installs one of two ways,
python virtinstall:</p>
<code><pre>
virt-install \
--name 'hme-tst-02' \
--ram 1024 \
--disk path=/dev/virtualmachines/hme_tst_02 \
--vcpus 2 \
--os-type linux \
--os-variant generic \
--network bridge=br0 \
--graphics none \
--location '/storage/VirtualMachines/images/centos.iso' \
--console pty,target_type=serial \
--extra-args console=ttyS0
</code></pre>
<p>Or utilizing PXE Boot and Virtual Machine Manager. I am working on including a kickstart script to further automate this, to automatically use my local repositories, etc. It is possible to PXE boot with virt install using VNC, but I have not done this yet.<p>

and setup all my VMs on logical volumes. /storage is exported from the physical server. The network bridge is configured with NetworkManager via NMCLI, following this procedure:
<code>
<pre>
nmcli con add ifname br0 type bridge con-name br0	#Add the interface
nmcli con add type bridge-slave ifname eth0 master br0	#whatever interface is currently provding connection.
nmcli con down 'Wired Connection' 			#or whatever is using eth0
ncmli con up br0					#bring up the bridge
nmcli con show						#verify
</code>
</pre>
<p> Here is a look at my local disk, this is host2(hme-hst-02):
<br>
<code>
<pre>
NAME                           MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
sda                              8:0    0  59.6G  0 disk 
├─sda1                           8:1    0     1G  0 part /boot
└─sda2                           8:2    0  58.6G  0 part 
  ├─centos-root                253:0    0  35.4G  0 lvm  /
  ├─centos-swap                253:1    0     6G  0 lvm  [SWAP]
  └─centos-home                253:2    0  17.3G  0 lvm  /home
sdb                              8:16   0 931.5G  0 disk 
├─sdb1                           8:17   0   200G  0 part 
└─sdb2                           8:18   0   200G  0 part 
  ├─virtualmachines-hme_plx_02 253:3    0    15G  0 lvm  
  ├─virtualmachines-hme_www_02 253:4    0    15G  0 lvm  
  ├─virtualmachines-hme_trt_02 253:5    0    15G  0 lvm  
  ├─virtualmachines-hme_vpn_02 253:6    0    15G  0 lvm  
  ├─virtualmachines-hme_dev_02 253:7    0    15G  0 lvm  
  ├─virtualmachines-hme_aux_02 253:8    0    15G  0 lvm  
  ├─virtualmachines-hme_dns_02 253:9    0    15G  0 lvm  
  ├─virtualmachines-hme_jbs_02 253:10   0    15G  0 lvm  
  ├─virtualmachines-hme_rpo_02 253:11   0     8G  0 lvm  
  ├─virtualmachines-hme_irc_02 253:12   0     8G  0 lvm  
  └─virtualmachines-hme_tst_02 253:13   0     8G  0 lvm  
</pre>
</code>
<p>Here is host1(hme-hst-01). storage-media(/storage) is exported:</p>
<code>
<pre>
/storage 192.168.1.0/24(rw,sync,no_subtree_check,no_root_squash) 
</pre>
</code>
<p>
And /storage mounted on every VM. Subdirectories of this NFS are symlinked to places on each VM, for example /storage/Web/blog is the docroot for this page on hme-www-01/2. My reasoning for this is I do nightly backups of /storage to another disk.</p>
<code>
<pre>
NAME                           MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
sda                              8:0    0  55.9G  0 disk 
├─sda1                           8:1    0   200M  0 part /boot/efi
├─sda2                           8:2    0     1G  0 part /boot
└─sda3                           8:3    0  54.7G  0 part 
  ├─centos-root                253:0    0    33G  0 lvm  /
  ├─centos-swap                253:1    0   5.6G  0 lvm  [SWAP]
  └─centos-home                253:5    0  16.1G  0 lvm  /home
sdb                              8:16   0   3.7T  0 disk 
├─sdb1                           8:17   0     3T  0 part 
│ └─storage-media              253:4    0     2T  0 lvm  /storage
├─sdb2                           8:18   0   200G  0 part 
│ └─home-hst                   253:6    0    32M  0 lvm  
└─sdb3                           8:19   0   200G  0 part 
  ├─virtualmachines-hme_plx_01 253:7    0    15G  0 lvm  
  ├─virtualmachines-hme_www_01 253:8    0    15G  0 lvm  
  ├─virtualmachines-hme_trt_01 253:9    0    15G  0 lvm  
  ├─virtualmachines-hme_vpn_01 253:10   0    10G  0 lvm  
  ├─virtualmachines-hme_dev_01 253:11   0   8.2G  0 lvm  
  ├─virtualmachines-hme_aux_01 253:12   0     7G  0 lvm  
  ├─virtualmachines-hme_dns_01 253:13   0     7G  0 lvm  
  ├─virtualmachines-hme_jbs_01 253:14   0    12G  0 lvm  
  └─virtualmachines-hme_tst_01 253:15   0     8G  0 lvm  
sdc                              8:32   0   3.7T  0 disk 
└─backup-backup_storage        253:16   0     2T  0 lvm  /backup_storage
</code>
</pre>
